/**
 * @color $blue
 * @value #ff0000
 */
$red: #ff0000;

/**
 * @color $blue2
 * @value #00ff55
 */
$red: #ff0000;

/**
 * @color $blue2
 * @value #00ff55
 */
$red: #fff00f0;

//@color
$red: #ff00f0;

//@color
$red: #60f000;

//@color
$blue: #00ff7a;

//@color
$rer: blue;


//@icon
.icon-box:before {
  content: '\u245'
}